.dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-top: 40px;
  overflow: hidden;
}
.top-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(100vw - 316px - 80px);
  width: 100%;
  overflow-x: scroll;
  gap: 20px;
  overflow-y: hidden;
  padding-bottom: 10px;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
.top-dashboard,
.bottom-table-wrap {
  scrollbar-width: thin;
  scrollbar-color: #3c2b53 #3c2b53;
}

/* Chrome, Edge, and Safari */
.top-dashboard::-webkit-scrollbar,
.bottom-table-wrap::-webkit-scrollbar {
  width: 4px;
  height: 5px;
}

.top-dashboard::-webkit-scrollbar-track,
.bottom-table-wrap::-webkit-scrollbar-track {
  background: #ad9cc4;
}

.top-dashboard::-webkit-scrollbar-thumb,
.bottom-table-wrap::-webkit-scrollbar-thumb {
  background-color: #3c2b53;
  border-radius: 200px;
  border: 5px solid #3c2b53;
}
.conversation-table {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--section-bg);
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px 0px;
}
.top-table {
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #3c2c50;
}

.top-table h2 {
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}
.filter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #34244d;
  border: 1px solid #3c2b53;
  border-radius: 6px;
  color: var(--text-purple);
  width: 100px;
  height: 40px;
}
.bottom-table-wrap {
  overflow-x: scroll;
  width: 100%;
  max-width: calc(100vw - 316px - 80px);
}
.bottom-table {
  width: 100%;
  min-width: 1700px;
  /* width: 100%; */
  margin-top: 20px;
  padding-inline: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto 1fr;
}
.table-head {
  margin-bottom: 15px;
}
.table-head,
.table-row {
  display: grid;
  grid-template-columns: 600px 1fr 1fr 1fr 1fr 1fr;
}

.table-head h2 {
  color: var(--text-purple);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.table-head .left-align {
  text-align: left;
}
.table-row {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  align-items: center;
  background-color: #34244d;
  border: 1px solid #3c2b53;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 0px;
}
.bottom-table .first-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 15px;
  text-align: left;
}

.first-col h3 {
  color: var(--text-purple);
  font-weight: 400;
  font-size: 16px;
}
.first-col p {
  font-weight: 300;
  color: white;
  font-size: 16px;
  margin-top: 5px;
}
.graphs-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.graph-div {
  height: 100%;
  width: 100%;
  background-color: var(--section-bg);
  border-radius: 10px;
  padding-top: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.graph-div > img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.graph-div > div:last-child * {
  border: none !important;
}
@media screen and (max-width: 1017px) {
  .bottom-table-wrap,
  .top-dashboard {
    max-width: calc(100vw - 40px);
  }
  .graphs-dashboard {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .dashboard {
    margin-top: 10px;
  }
}
