.dash-page {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 316px 1fr;
}
.main-dash {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  padding-top: 35px;
  width: 100%;
  padding-inline: 40px;
  padding-bottom: 35px;
}
@media screen and (max-width: 1017px) {
  .dash-page {
    grid-template-columns: 1fr;
  }
  .main-dash {
    padding-inline: 20px;
  }
}
